.page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #005AA7;
  background: -webkit-linear-gradient(to right, #FFFDE4, #005AA7);
  background: linear-gradient(to right, #FFFDE4, #005AA7);
}